

# temporary backup files
*~
*.swp

# java code produced by jflex
Lexer.java

# can be also produced by make
LexAnal.jar
Parser.jar

# java bytecode (our application)
*.class

# generated output from tests
tests/*.real

*.zip
*.Zip

TODO
